<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>

<form class="form-horizontal" role="form" action="#" th:action="@{/manageKindergarten/parent/addOrUpdate}"
      method="post">
    <h2  th:text="#{parent.title}">Add parent</h2>

    <input type="hidden" id="parentId" th:field="*{parent.id}"/>
    <input type="hidden" id="childId" th:field="*{childId.wrappedId}"/>

    <div class="form-group">
        <label for="parentEmail" class="col-md-1 control-label" th:text="#{parent.label.email}">Email Address: </label>

        <div class="col-md-3">
            <input id="parentEmail" type="text" th:field="*{parent.email}" placeholder="Email address..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="parentPassword" class="col-md-1 control-label" th:text="#{parent.label.password}">Password: </label>

        <div class="col-md-3">
            <input id="parentPassword" type="password" th:field="*{parent.password}" placeholder="Password..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="parentName" class="col-md-1 control-label" th:text="#{parent.label.name}">Name: </label>

        <div class="col-md-3">
            <input id="parentName" type="text" th:field="*{parent.name}" placeholder="Name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="parentSurname" class="col-md-1 control-label" th:text="#{parent.label.surname}">Surname: </label>

        <div class="col-md-3">
            <input id="parentSurname" type="text" th:field="*{parent.surname}" placeholder="Surname..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="parentIdNumber" class="col-md-1 control-label" th:text="#{parent.label.id}">Id Number: </label>

        <div class="col-md-3">
            <input id="parentIdNumber" type="text" th:field="*{parent.identityNumber}" placeholder="Personal ID number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="parentPhone" class="col-md-1 control-label" th:text="#{parent.label.phone}">Phone Number: </label>

        <div class="col-md-3">
            <input id="parentPhone" type="text" th:field="*{parent.phoneNumber}" placeholder="Phone number..."/><br/>
        </div>
    </div>

    <input type="hidden" id="addressId" th:field="*{address.addressId}"/>

    <div class="form-group">
        <label for="addressStreet" class="col-md-1 control-label" th:text="#{parent.label.streetName}">Street Name: </label>

        <div class="col-md-3">
            <input id="addressStreet" type="text" th:field="*{address.streetName}" placeholder="Street name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressHouse" class="col-md-1 control-label" th:text="#{parent.label.houseNumber}">House Number: </label>

        <div class="col-md-3">
            <input id="addressHouse" type="text" th:field="*{address.houseNumber}" placeholder="House number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressFlatNumber" class="col-md-1 control-label" th:text="#{parent.label.flatNumber}">Flat Number: </label>

        <div class="col-md-3">
            <input id="addressFlatNumber" type="text" th:field="*{address.flatNumber}" placeholder="Flat number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressPostal" class="col-md-1 control-label" th:text="#{parent.label.postalCode}">Postal Code: </label>

        <div class="col-md-3">
            <input id="addressPostal" type="text" th:field="*{address.postalCode}" placeholder="Postal code..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressCity" class="col-md-1 control-label" th:text="#{parent.label.city}">City: </label>

        <div class="col-md-3">
            <input id="addressCity" class="form-control" type="text" th:field="*{address.city}"
                   placeholder="City name..."/><br/>
        </div>
    </div>

    <div class="col-md-3">
        <input type="submit" class="btn btn-success"  th:value="#{parent.button.add}"/>
    </div>
</form>

</body>
</html>