<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>
    <h3 th:text="#{parent.list.title}">List of parents </h3>
    <table>

        <tr th:each="parent : ${parents}">

            <td> <a th:href="@{|/manageKindergarten/parent/${parent.id}|}"
                 th:text="${parent.name}+' '+${parent.surname}"/>
            </td>
            <td>
                <div th:if="${#authentication.name == 'admin'}">
                    <a th:href="@{|/manageKindergarten/parent/edit/${parent.id}|}" th:text="#{parent.label.edit}">Edit</a>
                    <a th:href="@{|/manageKindergarten/parent/delete/${parent.id}|}" th:text="#{parent.label.delete}">Delete</a>
                </div>
            </td>
        </tr>
    </table>

<a th:href="@{/manageKindergarten/parent/add}"><input
        type="button" value="Add new parent"/> </a>
</body>
</html>