<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>

<form class="form-horizontal" role="form" action="#" th:action="@{/manageKindergarten/teacher/addOrUpdate}"
      method="post">
    <h2 th:text="#{teacher.title}">Add teacher</h2>

    <input type="hidden" id="teacherId" th:field="*{teacher.id}"/>

    <div class="form-group">
        <label for="teacherName" class="col-md-1 control-label" th:text="#{teacher.label.name}">Name: </label>

        <div class="col-md-3">
            <input id="teacherName" class="form-control" type="text" th:field="*{teacher.name}"
                   placeholder="Enter name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="teacherSurname" class="col-md-1 control-label" th:text="#{teacher.label.surname}">Surname: </label>

        <div class="col-md-3">
            <input id="teacherSurname" class="form-control" type="text" th:field="*{teacher.surname}"
                   placeholder="Enter surname..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="teacherIdNumber" class="col-md-1 control-label" th:text="#{teacher.label.id}">Id Number: </label>

        <div class="col-md-3">
            <input id="teacherIdNumber" class="form-control" type="text" th:field="*{teacher.identityNumber}"
                   placeholder="Personal ID number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="teacherPhone" class="col-md-1 control-label" th:text="#{teacher.label.phone}">Phone Number: </label>

        <div class="col-md-3">
            <input id="teacherPhone" class="form-control" type="text" th:field="*{teacher.phoneNumber}"
                   placeholder="Enter phone number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="teacherEmail" class="col-md-1 control-label" th:text="#{teacher.label.email}">Email Address: </label>

        <div class="col-md-3">
            <input id="teacherEmail" class="form-control" type="text" th:field="*{teacher.emailAddress}"
                   placeholder="Enter email address..."/><br/>
        </div>
    </div>

    <input type="hidden" id="addressId" th:field="*{address.addressId}"/>

    <div class="form-group">
        <label for="addressStreet" class="col-md-1 control-label" th:text="#{teacher.label.streetName}">Street Name: </label>

        <div class="col-md-3">
            <input id="addressStreet" class="form-control" type="text" th:field="*{address.streetName}"
                   placeholder="Enter street name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressHouse" class="col-md-1 control-label" th:text="#{teacher.label.houseNumber}">House Number: </label>

        <div class="col-md-3">
            <input id="addressHouse" class="form-control" type="text" th:field="*{address.houseNumber}"
                   placeholder="Enter house number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressFlatNumber" class="col-md-1 control-label" th:text="#{teacher.label.flatNumber}">Flat Number: </label>

        <div class="col-md-3">
            <input id="addressFlatNumber" class="form-control" type="text" th:field="*{address.flatNumber}"
                   placeholder="Enter flat number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressPostal" class="col-md-1 control-label" th:text="#{teacher.label.postalCode}">Postal Code: </label>

        <div class="col-md-3">
            <input id="addressPostal" class="form-control" type="text" th:field="*{address.postalCode}"
                   placeholder="Enter postal code..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressCity" class="col-md-1 control-label" th:text="#{teacher.label.city}">City: </label>

        <div class="col-md-3">
            <input id="addressCity" class="form-control" type="text" th:field="*{address.city}"
                   placeholder="Enter city name..."/><br/>
        </div>
    </div>

    <div class="col-md-3">
        <input type="submit" class="btn btn-success"  th:value="#{teacher.button.add}"/>
    </div>
</form>

</body>
</html>