<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>

<h2  th:text="#{teacher.label.teachers}">Teachers</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" th:text="#{teacher.label.name}">Name</th>
        <th style="width: 110px;" th:text="#{teacher.label.id}">ID Number</th>
        <th style="width: 130px;" th:text="#{teacher.label.phone}">Phone Number</th>
        <th style="width: 160px;" th:text="#{teacher.label.email}">Email</th>
        <th style="width: 270px;" th:text="#{teacher.label.address}">Address</th>
        <th style="width: 100px;" th:text="#{teacher.label.city}">City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td>
            <a
                    th:href="@{|/manageKindergarten/teacher/${teacher.id}|}"
                    th:text="|${teacher.name} ${teacher.surname}|">Aleksandra Kowalska</a>
        </td>
        <td th:text="${teacher.identityNumber}">89999999999</td>
        <td th:text="${teacher.phoneNumber}">899 999 999</td>
        <td th:text="${teacher.emailAddress}">ola@ola.pl</td>
        <td th:text="|${teacher.address.streetName} ${teacher.address.houseNumber} m. ${teacher.address.flatNumber}|">Marynarska 2 m. 23</td>
        <td th:text="${teacher.address.city}">Poznan</td>
        <td>
            <div th:if="${#authentication.name == 'admin'}">
                <a th:href="@{|/manageKindergarten/teacher/edit/${teacher.id}|}" th:text="#{teacher.label.edit}">Edit</a>
                <a th:href="@{|/manageKindergarten/teacher/delete/${teacher.id}|}" th:text="#{teacher.label.delete}">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/manageKindergarten/teacher/add}"><input
        type="button"  th:value="#{teacher.button.add}" class="btn btn-success"/> </a>
</body>
</html>