<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>

<span class="col-md-1 label label-success" for="teacherName" th:text="#{teacher.label.name}">Name: </span>

<div class="col-md-11">
    <span id="teacherName" th:text="${teacher.name}"></span> <br/>
</div>

<span class="col-md-1 label label-success" for="teacherSurname" th:text="#{teacher.label.surname}">Surname: </span>

<div class="col-md-11">
    <span type="text" id="teacherSurname" th:text="${teacher.surname}"></span>
</div>

<span class="col-md-1 label label-success" for="teacherIdNumber" th:text="#{teacher.label.id}">Id Number: </span>

<div class="col-md-11">
    <span id="teacherIdNumber" type="text" th:text="${teacher.identityNumber}"/><br/>
</div>

<span class="col-md-1 label label-success" for="teacherPhone" th:text="#{teacher.label.phone}">Phone Number: </span>

<div class="col-md-11">
    <span id="teacherPhone" type="text" th:text="${teacher.phoneNumber}"/><br/>
</div>

<span class="col-md-1 label label-success" for="teacherEmail" th:text="#{teacher.label.email}">Email Address: </span>

<div class="col-md-11">
    <span id="teacherEmail" type="text" th:text="${teacher.emailAddress}"/><br/>
</div>

<span class="col-md-1 label label-success" for="addressStreet" th:text="#{teacher.label.streetName}">Street Name: </span>

<div class="col-md-11">
    <span id="addressStreet" type="text" th:text="${teacher.address.streetName}"/><br/>
</div>

<span class="col-md-1 label label-success" for="addressHouse" th:text="#{teacher.label.houseNumber}">House Number: </span>

<div class="col-md-11">
    <span id="addressHouse" type="text" th:text="${teacher.address.houseNumber}"/><br/>
</div>

<span class="col-md-1 label label-success" for="addressFlatNumber" th:text="#{teacher.label.flatNumber}">Flat Number: </span>

<div class="col-md-11">
    <span id="addressFlatNumber" type="text" th:text="${address.flatNumber}"/><br/>
</div>

<span class="col-md-1 label label-success" for="addressPostal" th:text="#{teacher.label.postalCode}">Postal Code: </span>

<div class="col-md-11">
    <span id="addressPostal" type="text" th:text="${teacher.address.postalCode}"/><br/>
</div>

<span class="col-md-1 label label-success" for="addressPostal" th:text="#{teacher.label.city}">City: </span>

<div class="col-md-11">
    <span id="addressCity" type="text" th:text="${teacher.address.city}"/><br/>
</div>

</body>
</html>