<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>
<form class="form-horizontal" role="form" action="#" th:action="@{/manageKindergarten/group/addOrUpdate}" method="post">
    <input type="hidden" id="groupId" th:field="*{group.id}"/>

    <h2 th:text="#{group.title}">Add group</h2>
    <div class="form-group">
        <label for="groupName" class="col-md-1 control-label" th:text="#{group.label.name}">Name: </label>

        <div class="col-md-3">
            <input id="groupName" class="form-control" th:value="${group.name}" th:field="*{group.name}" placeholder="Enter group name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="groupTeacher" class="col-md-1 control-label" th:text="#{group.label.teacher}">Name of teacher: </label>

        <div class="col-md-3">
            <select id="groupTeacher" class="form-control" th:field="*{idWrapper.wrappedId}" placeholder="Select teacher...">
                <option th:each="teacher : ${teachers}"
                        th:value="${teacher.id}"
                        th:text="${teacher.name}+' '+ ${teacher.surname}"
                        />
            </select>
        </div>
    </div>
    <div class="col-md-11">
        <input type="submit" class="btn btn-success" th:value="#{group.button.add}"/>
    </div>
</form>
</body>
</html>