<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:substituteby="fragments/header :: header">&nbsp;</div>
<h2 th:text="#{group.label.groups}">Groups</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" th:text="#{group.label.name}">Name</th>
        <th style="width: 200px;" th:text="#{group.label.teacher}">Teacher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td>
            <a
                    th:href="@{|/manageKindergarten/group/${group.id}|}"
                    th:text="${group.name}">Group 0</a>
        </td>
        <td th:text="${group.teacher} != null ? |${group.teacher.name} ${group.teacher.surname}|: ' '">Anna Kowalska</td>
       <td>
            <div th:if="${#authentication.name == 'admin'}">
                <a th:href="@{|/manageKindergarten/group/edit/${group.id}|}" th:text="#{group.label.edit}">Edit</a>
                <a th:href="@{|/manageKindergarten/group/delete/${group.id}|}" th:text="#{group.label.delete}">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${#authentication.name == 'admin'}">
    <a th:href="@{/manageKindergarten/group/add}"><input
            type="button"  th:value="#{group.button.add}" class="btn btn-success"/> </a>
</div>

</body>
</html>