<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>

<div style="height:20px">
    <h4>
        <span class="col-md-2 label label-success" for="teamName" th:text="#{group.label.name}">Name: </span>

        <div class="col-md-10">
            <span id="teamName" th:text="${group.name}"></span> <br/>
        </div>
    </h4>
</div>

<div style="height:20px">
    <h4>
        <span class="col-md-2 label label-success" for="teamTeacher" th:text="#{group.label.teacher}">Name of teacher: </span>

        <div class="col-md-10">
            <span type="text" id="teamTeacher" th:text="(${group.teacher.surname})+' '+(${group.teacher.name})"></span>
        </div>
    </h4>
</div>

<br/>

<div class="col-md-7">
    <h4 th:text="#{child.list.title}">List of children </h4>
    <table class="table table-striped">
        <tr>
            <th style="width: 50px;" th:text="#{child.label.name}">Name</th>
            <th style="width: 100px;" th:text="#{child.label.surname}">Surname</th>
            <th style="width: 100px;" th:text="#{child.label.report}">Cost report</th>

        </tr>
        <tr th:each="child : ${group.children}">
            <td th:text="${child.name}"></td>
            <td th:text="${child.surname}"></td>
            <td>
            <a th:href="@{|/manageKindergarten/report/${child.id}|}"><input
                    type="button"  th:value="#{child.button.report}" class="btn btn-success"/> </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>