<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>
<h2 th:text="#{child.title}">Add child</h2>
<form class="form-horizontal" role="form" action="#" th:action="@{/manageKindergarten/child/addOrUpdate}" method="post">
    <input type="hidden" id="childId" th:field="*{child.id}"/>

    <div class="form-group">
        <label for="childName" class="col-md-1 control-label"  th:text="#{child.label.name}">Name: </label>
        <div class="col-md-3">
            <input id="childName" class="form-control" th:field="*{child.name}" placeholder="Enter name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="childSurname" class="col-md-1 control-label" th:text="#{child.label.surname}">Surname: </label>
        <div class="col-md-3">
            <input id="childSurname" class="form-control" type="text" th:field="*{child.surname}"
                   placeholder="Enter surname..."/><br/>
        </div>
    </div>

    <input type="hidden" id="addressId" th:field="*{address.addressId}"/>
    <div class="form-group">
        <label for="addressStreet" class="col-md-1 control-label" th:text="#{child.label.streetName}">Street Name: </label>
        <div class="col-md-3">
            <input id="addressStreet" class="form-control" type="text" th:field="*{address.streetName}"
                   placeholder="Enter street name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressHouse" class="col-md-1 control-label" th:text="#{child.label.houseNumber}">House Number: </label>
        <div class="col-md-3">
            <input id="addressHouse" class="form-control" type="text" th:field="*{address.houseNumber}"
                   placeholder="Enter house number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressFlatNumber" class="col-md-1 control-label" th:text="#{child.label.flatNumber}">Flat Number: </label>
        <div class="col-md-3">
            <input id="addressFlatNumber" class="form-control" type="text" th:field="*{address.flatNumber}"
                   placeholder="Enter flat number..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressPostal" class="col-md-1 control-label"  th:text="#{child.label.postalCode}">Postal Code: </label>
        <div class="col-md-3">
            <input id="addressPostal" class="form-control" type="text" th:field="*{address.postalCode}"
                   placeholder="Enter postal code..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="addressCity" class="col-md-1 control-label"  th:text="#{child.label.city}">City: </label>
        <div class="col-md-3">
            <input id="addressCity" class="form-control" type="text" th:field="*{address.city}"
                   placeholder="Enter city name..."/><br/>
        </div>
    </div>

    <div class="form-group">
        <label for="group" class="col-md-1 control-label"  th:text="#{child.label.group}">Group: </label>
        <div class="col-md-3">
            <select id="group" class="form-control" th:field="*{idWrapper.wrappedId}" placeholder="Select group...">
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:text="${group.name}"
                        />
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <input type="submit"  class="btn btn-success" th:value="#{child.button.add}"/>
    </div>
</form>
</body>
</html>