<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="../../../resources/js/jquery.qrcode.js" th:src="@{/resources/js/jquery.qrcode.js}"></script>
    <script src="../../../resources/js/qrcode.js" th:src="@{/resources/js/qrcode.js}"></script>


</head>
<body>

<div th:substituteby="fragments/header :: header">&nbsp;</div>

<div class="col-md-6">
    <div class="row">
        <span class="col-md-2 label label-success" for="childName" th:text="#{child.label.name}">Name:</span>

        <div class="col-md-2">
            <span id="childName" th:text="${child.name}"></span> <br/>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 label label-success" for="childSurname"  th:text="#{child.label.surname}">Surname:</span>

        <div class="col-md-2">
            <span type="text" id="childSurname" th:text="${child.surname}"/><br/>
        </div>
    </div>


    <div class="row">
        <span class="col-md-2 label label-success" for="addressStreet" th:text="#{child.label.streetName}">Street Name:</span>

        <div class="col-md-2">
            <span id="addressStreet" type="text" th:text="${child.address.streetName}"/><br/>
        </div>
    </div>

    <div class="row">
        <span class="col-md-2 label label-success" for="addressHouse" th:text="#{child.label.houseNumber}">House Number:</span>

        <div class="col-md-2">
            <span id="addressHouse" type="text" th:text="${child.address.houseNumber}"/><br/>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 label label-success" for="addressFlatNumber" th:text="#{child.label.flatNumber}">Flat Number:</span>

        <div class="col-md-2">
            <span id="addressFlatNumber" type="text" th:text="${address.flatNumber}"/><br/>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 label label-success" for="addressPostal" th:text="#{child.label.postalCode}">Postal Code:</span>

        <div class="col-md-2">
            <span id="addressPostal" type="text" th:text="${child.address.postalCode}"/><br/>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 label label-success" for="addressCity" th:text="#{child.label.city}">City:</span>

        <div class="col-md-2">
            <span id="addressCity" type="text" th:text="${child.address.city}"/><br/>
        </div>
    </div>
    <div class="row">
        <span class="col-md-2 label label-success" for="childGroup" th:text="#{child.label.group}">Group:</span>

        <div class="col-md-2" style="padding-bottom:10px">
            <span id="childGroup" th:text="${child.group.name}"/><br/>
        </div>
    </div>
</div>

<span id="childIdentifier" class="col-md-6"/>

<input type="hidden" id="identifier" th:value="${child.identifier}"/><br/>

<div class="col-md-7">
    <h4  th:text="#{child.label.parents}">Parents</h4>
    <table class="table table-striped">
        <tr>
            <th style="width: 150px;" th:text="#{parent.label.name}">Name</th>
            <th style="width: 100px;" th:text="#{parent.label.phone}">Phone</th>
            <th style="width: 100px;" th:text="#{parent.label.email}">Email</th>
            <th style="width: 100px;" th:text="#{parent.label.id}">ID</th>
            <th style="width: 200px;" th:text="#{parent.label.address}">Address</th>
            <th style="width: 100px;" th:text="#{parent.label.city}">City</th>
        </tr>
        <tr th:each="parent : ${child.parents}">
            <td th:text="|${parent.name} ${parent.surname}|"></td>
            <td th:text="${parent.phoneNumber}"></td>
            <td th:text="${parent.email}"></td>
            <td th:text="${parent.identityNumber}"></td>
            <td th:text="|${parent.address.streetName} ${parent.address.houseNumber} m. ${parent.address.flatNumber}|">Marynarska 2 m. 23</td>
            <td th:text="${parent.address.city}">Warszawa</td>
            <td>
                <div th:if="${#authentication.name == 'admin'}">
                    <a th:href="@{|/manageKindergarten/parent/delete/${parent.id},${child.id}|}" th:text="#{parent.label.delete}">Delete</a>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="col-md-11" style="padding-top:10px">
    <a th:href="@{|/manageKindergarten/parent/add/${child.id}|}"><input
            type="button" class="btn btn-success"  th:value="#{child.button.addParent}"/> </a>
</div>


<script>
    jQuery(function(){
    var child_identifier = $("#identifier").val();
    jQuery('#childIdentifier').qrcode(
    {
    width: 150,
    height: 150,
    text: child_identifier
    }
    );
    })
</script>
</body>
</html>
