<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
<div th:substituteby="fragments/header :: header">&nbsp;</div>
<h2 th:text="#{child.label.children}">Children</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;"  th:text="#{child.label.name}">Name</th>
        <th style="width: 90px;"  th:text="#{child.label.group}">Group</th>
        <th style="width: 200px;"  th:text="#{child.label.address}">Address</th>
        <th th:text="#{child.label.city}">City</th>
        <th th:text="#{child.label.parentPhone}">Parent telephone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="child : ${children}">
        <td>
            <a
               th:href="@{|/manageKindergarten/child/${child.id}|}"
               th:text="|${child.name} ${child.surname}|">Adam Kowalski</a>
        </td>
        <td th:text="${child.group.name}">Grupa 0</td>
        <td th:text="|${child.address.streetName} ${child.address.houseNumber} m. ${child.address.flatNumber}|">Marynarska 2 m. 23</td>
        <td th:text="${child.address.city}">Poznan</td>
        <td th:text="${child.parents.size()} > 0 ? ${child.parents[0].phoneNumber}: ' '">555-555-555</td>
        <td>
            <div th:if="${#authentication.name == 'admin'}">
                <a th:href="@{|/manageKindergarten/child/edit/${child.id}|}" th:text="#{child.label.edit}">Edit</a>
                <a th:href="@{|/manageKindergarten/child/delete/${child.id}|}" th:text="#{child.label.delete}">Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/manageKindergarten/child/add}"><input
        type="button"  th:value="#{child.button.add}" class="btn btn-success"/> </a>

</body>
</html>