<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" >

            <div th:if="${#authentication.name == 'admin'}">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" th:href="@{/}" th:text="#{header.home}">Home</a></li>
                    <!--<li><a href="/kindergartenReport/manageKindergarten/home">Manage kindergarten</a></li>-->
                    <li><a href="/kindergartenReport/manageKindergarten/group/groups" th:text="#{header.groups}">Groups</a></li>
                    <li><a href="/kindergartenReport/manageKindergarten/teacher/teachers" th:text="#{header.teachers}">Teachers</a></li>
                    <li><a href="/kindergartenReport/manageKindergarten/child/children" th:text="#{header.children}">Children</a></li>
                </ul>
            </div>

            <div th:if="${#authentication.name != 'admin'}">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#about"> children</a></li>
                    <li><a href="#contact"> payment</a></li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/signin" th:href="@{/signin}" th:text="#{header.signIn}"></a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{/logout}" th:text="#{header.logout}"></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>